*{
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;
	box-sizing: border-box;
}

.title{
	font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: blue;
}

.front{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-image: url(../img/front-mob-sm.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.front .title{
	position: absolute;
	text-align: center;
	font-size: 30px;
	bottom: 230px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Arimo', sans-serif;
	color:#fff;
	text-shadow: 0px 1px 6px #000;
  will-change: transform;
}

.front .subtitle{
	position: absolute;
	text-align: center;
	font-size: 20px;
	bottom: 160px;
	left:0px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
		color:#fff;
	text-shadow: 0px 1px 6px #000;
  will-change: transform;
}

.front .button-wrap{
    transition: 200ms;
    will-change: transform;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    will-change: transform;
}

.front .button{
	display: inline-block;
  text-decoration: none;
  border: 1px solid #ff5722;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  cursor: pointer;	
  letter-spacing: 3px;
  background-color: #ff5722;
  color:#fff;
  box-shadow: 0px 4px 4px 0px #00000088;
  transition: 200ms;
  width: 100%;
}


.can{
	height: 400px;
}

.can .card{
	width: 240px;
	height: 350px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 3px #777;
	box-shadow: 0px 2px 3px #777;
	overflow: hidden;
	position: relative;
	margin: 10px;
}

.can .card .img{
	width: 100%;
	height: 240px;
	background-color: blue;
}

.can .card .more{
	position: absolute;
	bottom: 20px;
	right: 20px;
	transition: 0.1s 0.3s;
}

.can .card .text{
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: 0.2s;
	top: 0;
	transform: translateY(240px);
	position: absolute;
}

.can .card .text .close{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 18px;
	opacity: 0;
	transition: 0.2s;
}

.can .card .text .title{
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
	text-align: center;
}

.can .card .text .info{
	margin-top: 30px;
	transition: 0.2s 0.1s;
	transform: translateY(52px);
	opacity: 0;
}

.card.show_more .text{

	transform: translateY(0px);
}

.card.show_more .text .info{
	opacity: 1;
	transform: translateY(0px);
}

.card.show_more .text .close{
	opacity: 1;
}

.can .card.show_more .more{
	opacity: 0;
	transition: 0s;
}

.list{
	margin-top:50px; 
}

.list .item{
	width: 345px;
	height: 64px;
	overflow: hidden;
    border-bottom: 1px solid grey;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    transition: 0.2s;
    position: relative;
}

.list .item.show_more{
	height: 150px;
}

.list .item img{
	width: 20px;
	position: absolute;
    top: 22px;
    right: 10px;
    transition: 0.6s;
}

.list .item .head{
	margin-bottom: 20px;
	font-size: 20px;
}


.list .item.show_more img{
	transform: rotateX(180deg);
}


.list .item .text{
	transition: 0.2s;
	opacity: 0;
}

.list .item.show_more .text{
	opacity: 1;
}

.afraid{
	margin-top:50px; 
}

.afraid .item{
	width: 345px;
	height: 100px;	
	margin: auto;
	border-radius: 5px;
	box-shadow: 0px 2px 3px #777;
	transition: 0.4s;
	margin-bottom: 30px;
	overflow: hidden;
}

.afraid .item .img{
	width: 100px;
	height: 100px;
	background-color: blue;
	transition: 0.2s;
}

.afraid .item.show_more{
	height: 300px;
}

.afraid .item.show_more .img{
	width: 100%;
}

.how{
  background-image: url(../img/block-7.jpg);
  padding-top: 5px;
  padding-bottom: 40px;
}

.how .title{
    font-family: 'Arimo', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #bf360c;
    text-shadow: 0px 1px 1px #fff
}

.how .wrap{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.how .item{
  width: 160px;
  text-align: center;
  display: inline-block;
  color: #bf360c;
  text-shadow: 0px 1px 1px #fff
}
.how .wrap.left{
  text-align: left;
}
.how .wrap.right{
  text-align: right;
}

.how .wrap.center{
  text-align: center;
}

.how .item img{
  width: 100px;
}

.how .button{
  display: block;
  text-decoration: none;
    height: 50px;
    border: 1px solid #ff5722;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;  
    letter-spacing: 3px;
    margin-top: 30px;
    background-color: #ff5722;
    color:#fff;
    bottom: 70px;
    margin-left: 40px;
    margin-right: 40px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 4px 0px #00000088;
    transition: 200ms;
}

.how .button:hover,
.how .button:active{
  background-color: #fff;
  color:#ff5722;
}

.contacts{
	background-image: url(../img/final.jpg);
	-webkit-background-size: 100%;
	background-size: 100%;
	padding: 50px;
	padding-left: 30px;
	padding-right: 30px;
}

.contacts .content{
	background-color:white;
	border-radius: 5px;
  	box-shadow: 0px 2px 3px 1px #bf360ca1;
  	padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 1px;
}

.contacts .content .title{
	font-family: 'Arimo', sans-serif;
  	text-align: center;
  	font-size: 32px;
  	margin-top: 30px;
  	margin-bottom: 20px;
  	font-weight: bold;
  	color: #bf360c;	
}

.contacts .content ul{
	padding-left: 0;
	padding-top: 25px;
}

.contacts .content li{
    list-style-type: none;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.contacts .content li a,
.contacts .content li a:active,
.contacts .content li a:visited{
  color: #000;
}

.contacts .content li .show-popup-offer{
  text-decoration: underline;
}