* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box; }

.title {
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
  color: #000; }
  @media (min-width: 1024px) {
    .title {
      margin-bottom: 48px; } }

@media (min-width: 1024px) {
  .second_line {
    margin-bottom: 0 !important; } }
.front {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/front_my.jpg);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  .front .wrap {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media (max-width: 1380px) {
      .front .wrap {
        padding-left: 24px;
        padding-right: 24px; } }
  .front .title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    text-shadow: 0px 1px 6px #fff;
    will-change: transform; }
  .front .subtitle {
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    width: 100%;
    color: #000;
    text-shadow: 0px 1px 6px #fff;
    will-change: transform; }
  .front .button-wrap {
    transition: 200ms;
    will-change: transform;
    height: 50px;
    will-change: transform;
    text-align: center; }
  .front .button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff5722;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 3px;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: 200ms;
    max-width: 300px;
    width: 100%; }
  @media (min-width: 1024px) {
    .front .title-block {
      width: 50%;
      float: right; }
    .front .title {
      font-size: 44px;
      margin-bottom: 48px; }
    .front .subtitle {
      font-size: 26px;
      margin-bottom: 48px; }
    .front .button-wrap {
      margin-left: 40px;
      margin-right: 40px; } }

.warm {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow: hidden;
  /*.warm .wrap#warm_foto{
  	transform: translateX(-100%);
  }
  .warm .wrap.show#warm_foto{
    -webkit-transform: none;
    transform: none;
    transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }*/
  /*.warm .wrap#warm_text{
  	transform: translateX(100%);
  }
  .warm .wrap.show#warm_text{
    -webkit-transform: none;
    transform: none;
    transition: transform 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }*/ }
  @media (max-width: 1380px) {
    .warm {
      padding-left: 24px;
      padding-right: 24px; } }
  .warm .button {
    font-family: 'Noto Sans', sans-serif;
    display: block;
    text-decoration: none;
    height: 50px;
    border: 1px solid #ff5722;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #ff5722;
    color: #fff;
    bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    left: 0;
    right: 0;
    transition: 200ms;
    width: 100%; }
    .warm .button:hover, .warm .button:active {
      background-color: #fff;
      color: #ff5722; }
  .warm .foto {
    width: 100%;
    height: 300px;
    /*transform: scale(0.8);*/ }
  .warm .wrap.show .foto {
    -webkit-transform: none;
    transform: none;
    transition: 600ms linear 300ms; }
  .warm .wrap.show .text {
    -webkit-transform: none;
    transform: none;
    transition: 600ms linear 300ms; }
  .warm .text {
    /*transform: scale(0.8);*/ }
    .warm .text .name {
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 24px;
      font-family: 'Noto Sans', sans-serif;
      color: rgba(0, 0, 0, 0.9); }
  .warm .wrap {
    padding-top: 24px;
    padding-bottom: 24px; }
  .warm .button_wrap {
    display: flex;
    justify-content: space-between; }
    .warm .button_wrap .button {
      margin: 0;
      width: 150px; }
      @media (max-width: 375px) {
        .warm .button_wrap .button {
          width: 125px; } }
  @media (max-width: 1023px) {
    .warm .warm_foto {
      margin-left: -24px;
      margin-right: -24px;
      margin-top: -48px; } }
  @media (min-width: 1024px) {
    .warm {
      display: flex;
      justify-content: space-between; }
      .warm .warm_foto {
        width: 620px; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .warm .warm_foto {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .warm .warm_foto {
        width: 480px; } }
  @media (min-width: 1024px) {
        .warm .warm_foto .foto {
          height: auto; }
      .warm .warm_text {
        width: 620px;
        padding-left: 48px;
        padding-right: 48px; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .warm .warm_text {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .warm .warm_text {
        width: 480px; } }
  @media (min-width: 1024px) {
        .warm .warm_text .wrap {
          padding-top: 0px;
          padding-bottom: 0px; }
        .warm .warm_text span {
          font-size: 16px;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.7); }
        .warm .warm_text .button_wrap {
          margin-top: 50px;
          width: 450px; }
          .warm .warm_text .button_wrap .button {
            margin: 0;
            width: 200px; } }

.can {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/bad.jpg); }
  .can .content {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media (max-width: 1380px) {
      .can .content {
        padding-left: 24px;
        padding-right: 24px; } }
  .can .can-wrap {
    margin-left: -24px;
    margin-right: -24px; }
  .can .card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 285px;
    height: 405px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 10px;
    outline: none; }
    .can .card .img {
      width: 100%;
      height: 295px; }
      .can .card .img img {
        width: 100%;
        height: 100%; }
    .can .card .more {
      position: absolute;
      bottom: 20px;
      right: 20px;
      transition: 0.1s 0.3s;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 14px;
      color: #ff5722; }
    .can .card .text {
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: 0.2s;
      top: 0;
      transform: translateY(295px);
      position: absolute;
      padding: 16px; }
      .can .card .text .close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        opacity: 0;
        transition: 0.2s;
        background-image: url("../img/add.svg");
        transform: rotate(45deg); }
      .can .card .text .bads {
        font-size: 18px;
        transition: 0.2s;
        text-align: center; }
      .can .card .text .info {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.7);
        line-height: 1.3;
        margin-top: 24px;
        transition: 0.2s 0.1s;
        transform: translateY(52px);
        opacity: 0; }
    .can .card.show_more .text {
      transform: translateY(0px); }
      .can .card.show_more .text .bads {
        margin-top: 15px; }
      .can .card.show_more .text .info {
        opacity: 1;
        transform: translateY(0px); }
      .can .card.show_more .text .close {
        opacity: 1; }
    .can .card.show_more .more {
      opacity: 0;
      transition: 0s; }
  .can .slick-dots {
    margin: auto;
    width: 200px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    .can .slick-dots li {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background-color: grey; }
      .can .slick-dots li.slick-active {
        background-color: #ff5722; }
  .can .can-desctop {
    display: none; }
  @media (min-width: 1260px) {
    .can .can-desctop {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .can .can-desctop .card {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        width: 620px;
        height: auto;
        margin: 0;
        margin-bottom: 64px;
        display: flex; } }
    @media (min-width: 1260px) and (max-width: 1380px) {
      .can .can-desctop .card {
        width: 600px; } }
    @media (min-width: 1260px) and (max-width: 1260px) {
      .can .can-desctop .card {
        width: 480px; } }
  @media (min-width: 1260px) {
        .can .can-desctop .card .img {
          width: 200px;
          height: 300px; }
          .can .can-desctop .card .img img {
            width: 100%;
            height: 100%; }
        .can .can-desctop .card .text {
          width: 420px;
          transform: none;
          position: relative;
          padding: 24px; }
          .can .can-desctop .card .text .bads {
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 24px;
            font-family: 'Noto Sans', sans-serif;
            color: rgba(0, 0, 0, 0.9);
            font-weight: normal;
            margin-top: 0px;
            text-align: left; }
          .can .can-desctop .card .text .info {
            font-size: 16px;
            line-height: 1.5;
            color: rgba(0, 0, 0, 0.7);
            opacity: 1;
            margin-top: 0;
            transform: none; }
    .can .can-wrap {
      display: none; } }

.list {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (max-width: 1380px) {
    .list {
      padding-left: 24px;
      padding-right: 24px; } }
  .list .item {
    width: 100%;
    max-height: 64px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
    position: relative; }
    .list .item img {
      width: 20px;
      position: absolute;
      top: 22px;
      right: 10px;
      transition: 0.6s; }
    .list .item .head {
      margin-bottom: 20px;
      font-size: 20px; }
    .list .item .text {
      transition: 0.2s;
      opacity: 0; }
    .list .item.show_more {
      max-height: 500px; }
      .list .item.show_more img {
        transform: rotateX(180deg); }
      .list .item.show_more .text {
        opacity: 1; }
  @media (min-width: 1024px) {
    .list .list_wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .list .item {
      width: 400px;
      height: auto !important;
      max-height: 100%;
      border-bottom: 0px;
      margin: 0;
      margin-bottom: 100px;
      padding: 0; }
      .list .item img {
        display: none; }
      .list .item .head {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 24px;
        font-family: 'Noto Sans', sans-serif;
        color: rgba(0, 0, 0, 0.9); }
      .list .item .text {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.7);
        opacity: 1; } }

.metod {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/metod.jpg); }
  .metod .button {
    font-family: 'Noto Sans', sans-serif;
    display: block;
    text-decoration: none;
    height: 50px;
    border: 1px solid #ff5722;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #ff5722;
    color: #fff;
    bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    left: 0;
    right: 0;
    transition: 200ms;
    width: 100%; }
    .metod .button:hover, .metod .button:active {
      background-color: #fff;
      color: #ff5722; }
  .metod .button {
    width: auto;
    margin: auto;
    margin-top: 24px; }
  .metod .wrap {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media (max-width: 1380px) {
      .metod .wrap {
        padding-left: 24px;
        padding-right: 24px; } }
  .metod .content {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    padding: 24px; }
    .metod .content ul {
      padding-left: 18px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .metod .content ul li {
        padding-bottom: 8px; }
  @media (min-width: 1024px) {
    .metod {
      display: flex;
      justify-content: space-between; }
      .metod .content {
        width: 620px;
        margin: 0;
        padding: 48px; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .metod .content {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .metod .content {
        width: 480px; } }
  @media (min-width: 1024px) {
        .metod .content .button {
          width: 280px; } }

.afraid {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (max-width: 1380px) {
    .afraid {
      padding-left: 24px;
      padding-right: 24px; } }
  .afraid .item {
    width: 100%;
    max-height: 75px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #777;
    transition: 0.4s;
    margin-bottom: 30px;
    overflow: hidden; }
    .afraid .item .preview {
      width: 100%;
      height: 75px;
      display: flex;
      position: relative;
      align-items: center;
      padding: 12px; }
    .afraid .item .title_hide {
      padding-left: 15px;
      padding-right: 10px;
      font-size: 18px;
      opacity: 1;
      transition: 0.2s;
      flex-grow: 1;
      flex-shrink: 1; }
    .afraid .item .img {
      width: 50px;
      height: 50px;
      transition: 0.2s;
      transform-origin: 50% 50%; }
    .afraid .item .more {
      flex-grow: 0;
      flex-shrink: 0;
      width: 15px;
      height: 15px;
      background-image: url("../img/add.svg");
      transition: 0.2s; }
    .afraid .item .text_show {
      font-size: 16px;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.7);
      padding: 24px;
      opacity: 0;
      transition: 0.2s; }
      .afraid .item .text_show .title_show {
        font-size: 24px;
        line-height: 1.5;
        margin-bottom: 24px;
        font-family: 'Noto Sans', sans-serif;
        color: rgba(0, 0, 0, 0.9);
        font-size: 20px;
        text-align: center; }
    .afraid .item.show_more {
      max-height: 500px;
      align-items: normal; }
      .afraid .item.show_more .img {
        transform: translateX(0px) scale(1.2); }
      .afraid .item.show_more .title_hide {
        opacity: 0; }
      .afraid .item.show_more .text_show {
        opacity: 1; }
      .afraid .item.show_more .more {
        transform: translateY(-15px) rotate(-45deg); }
  @media (min-width: 1024px) {
    .afraid .afraid_wrap {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .afraid .afraid_wrap .item {
        width: 620px;
        height: auto;
        max-height: 100%;
        box-shadow: none;
        margin: 0;
        margin-bottom: 96px; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .afraid .afraid_wrap .item {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .afraid .afraid_wrap .item {
        width: 480px; } }
  @media (min-width: 1024px) {
        .afraid .afraid_wrap .item .preview {
          height: auto; }
        .afraid .afraid_wrap .item img {
          transform: none;
          margin: auto;
          width: 120px;
          height: 120px; }
        .afraid .afraid_wrap .item .title_hide {
          display: none; }
        .afraid .afraid_wrap .item .more {
          display: none; }
        .afraid .afraid_wrap .item .text_show {
          opacity: 1; }
        .afraid .afraid_wrap .item .title_show {
          font-size: 24px;
          line-height: 1.5;
          margin-bottom: 24px;
          font-family: 'Noto Sans', sans-serif;
          color: rgba(0, 0, 0, 0.9);
          text-align: center; } }

.how {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/how.jpg); }
  .how .content {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media (max-width: 1380px) {
      .how .content {
        padding-left: 24px;
        padding-right: 24px; } }
  .how .title {
    color: #fff;
    text-shadow: 0px 1px 6px #000; }
  .how .wrap {
    width: 100%; }
    .how .wrap.left {
      text-align: left; }
    .how .wrap.right {
      text-align: right; }
    .how .wrap.center {
      text-align: center; }
  .how .item {
    width: 160px;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-shadow: 0px 1px 3px #000; }
    .how .item img {
      width: 100px; }
  @media (min-width: 1024px) {
    .how .item_block {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
      .how .item_block .wrap {
        text-align: center;
        width: auto; }
    .how .button {
      width: 220px;
      margin: auto; } }

.interaction {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (max-width: 1380px) {
    .interaction {
      padding-left: 24px;
      padding-right: 24px; } }
  .interaction .button {
    font-family: 'Noto Sans', sans-serif;
    display: block;
    text-decoration: none;
    height: 50px;
    border: 1px solid #ff5722;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #ff5722;
    color: #fff;
    bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    left: 0;
    right: 0;
    transition: 200ms;
    width: 100%; }
    .interaction .button:hover, .interaction .button:active {
      background-color: #fff;
      color: #ff5722; }
  .interaction .input-wrap {
    margin-top: -32px;
    margin-bottom: 48px; }
  .interaction .wrap_form_sucsess {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(0, 0, 0, 0.9);
    display: none; }
  .interaction .price .title {
    font-size: 24px;
    margin-bottom: 24px; }
  .interaction .price span {
    display: block;
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center; }
  .interaction .form .button {
    width: auto; }
  .interaction .input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 100%;
    width: calc(100% - 2em);
    vertical-align: top; }
  .interaction .input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: 400;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */ }
  .interaction .input__field:focus {
    outline: none; }
  .interaction .input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .interaction .input__label-content {
    position: relative;
    display: block;
    padding: 28px 0;
    width: 100%; }
  .interaction .graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none; }
  .interaction .input--nao {
    overflow: hidden;
    padding-top: 1em; }
  .interaction .input__field--nao {
    padding: 5px 0px 10px;
    width: 100%;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px; }
  .interaction .input__label--nao {
    position: absolute;
    top: 0px;
    font-size: 16px;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0px;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .interaction .graphic--nao {
    stroke: #92989e;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1); }
  .interaction .input__field--nao:focus + .input__label--nao,
  .interaction .input--filled .input__label--nao {
    color: #333;
    -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1); }
  .interaction .input__field--nao:focus ~ .graphic--nao,
  .interaction .input--filled .graphic--nao {
    stroke: #333;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0); }
  @media (min-width: 1024px) {
    .interaction {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between; }
      .interaction .price,
      .interaction .form {
        width: 620px;
        text-align: center; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .interaction .price,
      .interaction .form {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .interaction .price,
      .interaction .form {
        width: 480px; } }
  @media (min-width: 1024px) {
      .interaction .price span {
        font-size: 48px;
        margin-bottom: 48px; }
      .interaction .button {
        width: 200px;
        margin: auto; } }

.contacts {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/contacts.jpg); }
  .contacts .wrap {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 48px;
    padding-bottom: 48px; }
    @media (max-width: 1380px) {
      .contacts .wrap {
        padding-left: 24px;
        padding-right: 24px; } }
  .contacts .content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
    border-radius: 5px;
    /*box-shadow: 0px 2px 3px 1px #bf360ca1;*/
    padding: 24px; }
    .contacts .content ul {
      padding-left: 0;
      padding-top: 25px; }
    .contacts .content li {
      list-style-type: none;
      font-family: 'Noto Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 25px;
      text-align: center; }
      .contacts .content li a,
      .contacts .content li a:active,
      .contacts .content li a:visited {
        color: #000; }
      .contacts .content li .show-popup-offer {
        text-decoration: underline; }
  @media (min-width: 1024px) {
    .contacts {
      display: flex;
      justify-content: space-between; }
      .contacts .content {
        width: 620px;
        float: right;
        padding: 48px; } }
    @media (min-width: 1024px) and (max-width: 1380px) {
      .contacts .content {
        width: 600px; } }
    @media (min-width: 1024px) and (max-width: 1260px) {
      .contacts .content {
        width: 480px; } }
  @media (min-width: 1024px) {
        .contacts .content ul {
          padding-top: 0; }
        .contacts .content li {
          font-weight: normal;
          font-size: 24px;
          line-height: 1.8;
          margin-bottom: 0;
          text-align: left; } }

/*# sourceMappingURL=style.css.map */
